# -*- mode: snippet -*-
# name: switch
# key: switch
# --
switch($1) {
    case $2:
        ${0:code block}
        break;
    case $3:
        // code block
        break;
    default:
        // default code block
} 

